<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.schollaert.mybooks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CheckConnectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EmailPasswordActivity" />
        <activity android:name=".activity.GoogleSignInActivity" />
        <activity
            android:name=".activity.MeActivity"
            android:label="@string/title_activity_me" />
        <activity android:name=".activity.MenuActivity" />
        <activity
            android:name=".activity.FindBooksActivity"
            android:label="@string/title_activity_finding" />
        <activity
            android:name=".activity.BookActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.EditParamActivity" />
        <activity
            android:name=".activity.MyFriendsActivity"
            android:label="@string/title_activity_my_friends"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MyLibraryActivity"
            android:label="@string/title_activity_my_library"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.FindFriendsActivity"></activity>
    </application>

</manifest>