<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.schollaert.mybooks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CheckConnectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmailPasswordActivity" />
        <activity android:name=".GoogleSignInActivity" />
        <activity android:name=".MeActivity"
            android:label="@string/title_activity_me"/>
        <activity android:name=".MenuActivity" />
        <activity android:name=".MyBooksActivity"
            android:label="@string/title_activity_books"/>
        <activity android:name=".FindBooksActivity"
            android:label="@string/title_activity_finding"/>
        <activity android:name=".MyCommentsActivity"
            android:label="@string/title_activity_comments"/>
        <activity
            android:name=".BookActivity"
            android:label="@string/title_activity_book"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>